<!-- 
    Como poner img
    <img src="../../static/batman.png">
-->
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>BeatShark</title>
</head>

<body style="background-color: #9e0059;">
{% if request.session.rol == 2 %}
    {% if request.GET.idArtista %}
    {% for artista in artistas %}
      {% ifequal artista.id|stringformat:"s" request.GET.idArtista %}
            <div class="container rounded" style="background-color: white; margin-top: 10%; margin-bottom: 10%;">
          <div class="abs-center">
            <form method="post" class="p-3 form">
              {% csrf_token %}
              <div class="form-group m-2">
                <label for="email">Nombre:</label>
                <input type="text" name="nombre" id="user" class="form-control" placeholder="{{artista.nombre}}">
              </div>
              <div class="form-group m-2">
                <label for="contraseña">Nacionalidad:</label>
                  <input type="text" name="nacionalidad" id="user" class="form-control" placeholder="{{artista.nacionalidad}}">
              </div>
              <div class="form-group m-2">
                <label for="contraseña">Fecha de nacimiento:</label>
                <input type="text" name="fechaNacimiento" id="user" class="form-control" placeholder="{{artista.fechaNacimiento}}">
              </div>
              <button type="submit" class="btn btn-primary m-2" style="border-color: black; background-color: #9e0059; color: white;">Modificar</button>
            </form>
          </div>
        </div>
      {% endifequal %}
    {% endfor %}
    {% elif request.GET.idGenero%}
    {% for genero in generos %}
      {% ifequal genero.id|stringformat:"s" request.GET.idGenero %}
            <div class="container rounded" style="background-color: white; margin-top: 10%; margin-bottom: 10%;">
          <div class="abs-center">
            <form method="post" class="p-3 form">
              {% csrf_token %}
              <div class="form-group m-2">
                <label for="email">Nombre:</label>
                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="{{genero.nombre_genero}}">
              </div>
              <button type="submit" class="btn btn-primary m-2" style="border-color: black; background-color: #9e0059; color: white;">Modificar</button>
            </form>
          </div>
        </div>
      {% endifequal %}
    {% endfor %}
    {% elif request.GET.idCancion%}
    {% for cancion in canciones %}
      {% ifequal cancion.id|stringformat:"s" request.GET.idCancion %}
            <div class="container rounded" style="background-color: white; margin-top: 10%; margin-bottom: 10%;">
          <div class="abs-center">
            <form method="post" class="p-3 form">
              {% csrf_token %}
              <div class="form-group m-2">
                <label for="email">Titulo:</label>
                <input type="text" name="nombre" id="titulo" class="form-control" placeholder="{{cancion.titulo}}">
              </div>
              <button type="submit" class="btn btn-primary m-2" style="border-color: black; background-color: #9e0059; color: white;">Modificar</button>
            </form>
          </div>
        </div>
      {% endifequal %}
    {% endfor %}
    {% elif request.GET.idAlbum%}
      {% for album in albumes %}
      {% ifequal album.id|stringformat:"s" request.GET.idAlbum %}
            <div class="container rounded" style="background-color: white; margin-top: 10%; margin-bottom: 10%;">
          <div class="abs-center">
            <form method="post" class="p-3 form">
              {% csrf_token %}
              <div class="form-group m-2">
                <label for="email">Titulo:</label>
                <input type="text" name="nombre" id="titulo" class="form-control" placeholder="{{album.nombre}}">
              </div>
              <div class="form-group m-2">
                <label for="email">Numero de canciones:</label>
                <input type="text" name="numCanciones" id="titulo" class="form-control" placeholder="{{album.num_canciones}}">
              </div>
              <div class="form-group m-2">
                <label for="email">Fecha de Estreno:</label>
                <input type="text" name="fechaEstreno" id="titulo" class="form-control" placeholder="{{album.fechaEstreno}}">
              </div>
              <button type="submit" class="btn btn-primary m-2" style="border-color: black; background-color: #9e0059; color: white;">Modificar</button>
            </form>
          </div>
        </div>
      {% endifequal %}
    {% endfor %}
    {% endif %}
  {% else %}
    <div class="card-body">
      Donde vas listill@? no estas autorizado.
    </div>
  {% endif %}

  {% if messages %}
  {% for message in messages %}
  <script>
    alert('{{ message }}');
  </script>
  {% endfor %}
  {% endif %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>