<!-- 
    Como poner img
    <img src="../../static/batman.png">
-->
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <title>BeatShark</title>
</head>

<body>

  <nav class="navbar navbar-dark flex-wrap" style="background-color: #9e0059;">

    <a class="navbar-brand font-weight-bold" href="{% url 'index' %}"
      style="font-size: x-large; font-weight: bold; margin-left: 8px;">
      <img src="../../static/logoNegro.png" alt="" width="40" height="40" class="d-inline-block align-top">
      BeatShark
    </a>
    {% if request.session.user %}
    <!-- Example single danger button -->

    <form class="d-flex ">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-light" type="submit">Buscar</button>
    </form>
    <form class="d-flex me-2" method="get">
      {% csrf_token %}
      <div class="btn-group me-2" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{request.session.user}}
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          {% if request.session.rol == 2 %}
          <a class="btn btn-light m-2 border border-dark" style="color: white; background-color: #9e0059;"
            href="{% url 'edit' %}">Panel de Administrador</a>
          {% endif %}
          <a class="btn btn-light m-2 border border-dark" style="color: #9e0059;" href="{% url 'fav' %}">
            <img src="../../static/favorite-icon-715x715.png" alt="" width="20" height="20"
              class="d-inline-block align-top">
            Favoritos
          </a>
        </div>
      </div>
      <input class="form-control me-2" type="hidden" placeholder="logout" aria-label="logout" name="logout" value="yes">
      <button class="btn btn-outline-light me-2" type="submit">Logout</button>
    </form>
    {% else %}
    <form class="d-flex" method="post">
      {% csrf_token %}
      <input class="form-control me-2" type="text" placeholder="Usuario" aria-label="Usuario" name="user" required>
      <input class="form-control me-2" type="password" placeholder="Contraseña" aria-label="Contraseña" name="password"
        required>
      <button class="btn btn-outline-light me-2" type="submit">Login</button>
      <button class="btn btn-link me-2">
        <a href="{% url 'register' %}" style="color: white;">Registrate</a>
      </button>
    </form>
    {% endif %}

  </nav>

</body>

</html>