<!-- PRIMERA VISUALIZACION PARA USUARIO NO LOGEADO O NO REGISTRADO -->

<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}" style="color: white;">
    <img src="https://static.vecteezy.com/system/resources/previews/001/200/731/non_2x/round-square-music-icon-note-png.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    BeatShark
  </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Usuario" aria-label="Usuario">
    <input class="form-control mr-sm-2" type="search" placeholder="Contraseña" aria-label="Contraseña">
    <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Login</button>
    <a href="#" class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true">Registrate</a>
  </form>
</nav>

<!-- SEGUNDA VISUALIZACION PARA USUARIO LOGEADO -->

<!-- TERCERA VISUALIZACION PARA ADMINISTRADOR LOGEADO -->

<!-- CUARTA VISUALIZACION PARA ARTISTA LOGEADO -->
